* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 501px;
  border: 2px solid black;
}
.box-1 {
  width: 25%;
  height: 30%;
  background-color: beige;
  border: 5px solid black;
  border-bottom: 15px solid  black;
}
.box-2 {
  width: 25%;
  height: 40%;
  background-color: beige;
  border: 5px solid black;
}
.box-3 {
  width: 25%;
  height: 30%;
  background-color: blue;
  border: 5px solid black;
}
.box-4 {
  width: 75%;
  height: 70%;
  background-color: red;
  border: 4px solid black;
}
.container-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
  height: 30%;
  border: 3px solid black;
}

.box-5 {
  width: 95%;
  height: 100%;
  background-color: beige;
  border: 2px solid black;
  border-right: 7px solid  black;
}
.box-6 {
  width: 6%;
  height: 50%;
  background-color: beige;
  border: 4px solid black;
  border-bottom: 15px solid  black;
}
.box-7 {
    width: 6%;
    height: 50%;
    background-color: yellow;
    border: 3px solid black;
    border-bottom: 1px solid  black;
    border-top: 10px solid black;
  }
